/* CONTACTO */

.h3Titulo {
    margin-left: 0px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    box-shadow: 2px 2px 10px rgba(0, 10, 95, 0.473);
}

.contactoP {

    p {
        margin-bottom: 0 !important;
    }

}

.formularioContacto {
    display: inline-block;
    margin-top: 15px !important;
    justify-content: center;
}

.card {
    margin: 25px !important;

    img {
        padding: 10px;
    }

}