/* SECTION CAROUSEL */

.carousel-main-middle {
    top: 30%;
}

.carousel-control-prev{
    z-index: 0!important;
    top: -270px!important;
}

.carousel-control-next{
    z-index: 0!important;
    top: -270px!important;
}

/* SECTION MAIL */


.mailBox {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin-top: 30px;
    margin-bottom: 2vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}

.mailLeft {
    padding: 10px;
    text-align: center;

}

.mailRight {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;

    h5 {
        background-color: #94949421;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 10px;
    }
}


.btnMargin {
    margin-top: 10px;
    margin-bottom: 3px;
}

.bannerImage {
    width: 100%;
    height: 500px;
    box-shadow: 3px 8px 10px rgba(92, 93, 95, 0.336);
}

/* SECTION BOX */

.box {
    margin: 25px;
    padding: 15px;
    background: rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(173, 173, 173, 0.342);

    p {
        font-size: 16px;
    }
}


.btn {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.247);
}
